@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Pacifico&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap');

@tailwind components;
@tailwind base;
@tailwind utilities;

/* Media queries */
@media (max-height: 720px) {
  .se-mb {
    margin-bottom: 0rem;
  }

  .se-text {
    font-size: 2.5rem;
    line-height: 1;
  }

  .se-icon {
    width: 50px;
    height: 50px;
  }
}

@media (min-height:721px) and (max-height: 750px) {
  .md-mb {
    margin-bottom: 0.5rem;
  }

  .md-mb2 {
    margin-bottom: 2rem;
  }

  .md-escudo {
    height: 14rem;
  }
}

@media (min-height:751px) and (max-height: 849px) {
  .md-mb {
    margin-bottom: 3rem;
  }

  .md-escudo {
    height: 16rem;
    margin-bottom: 1rem;
  }
}

@media (min-height:850px) and (max-height: 1000px) {
  .md-mb {
    margin-bottom: 4rem;
  }

  .separator {
    height: 7rem;
  }

  .md-escudo {
    height: 17rem;
    margin-bottom: 1rem;
  }

  .lg-mb {
    margin-bottom: 3rem;
  }

  .lg-py{
    padding: 2rem 0;
  }
}

/* Fuentes tipograficas */
.pacifico {
  font-family: 'Pacifico', cursive;
}

.carter {
  font-family: 'Carter One', cursive;
}

.sans-pro {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Clases apartes */
.bg-qr {
  background-color: #f0f8ff4b;
}

.bg-login-form {
  background-color: #0b3264d3;
} 

.bg-leer-archivo {
  background-color: #0b3264;
}

.text-cta-azul {
  color: #012758;
}

.separator {
  border-bottom-left-radius: 50% 15%;
  border-bottom-right-radius: 50% 15%;
  background-color: #092850d3;
}

.texture {
  background-color: #094799;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23090447' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.shadow-inset:focus {
  box-shadow: 0px 0px 10px 0px rgba(0, 4, 255, 0.61) inset;
-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 4, 255, 0.61) inset;
-moz-box-shadow: 0px 0px 10px 0px rgba(0, 4, 255, 0.61) inset;
}
